main{
    padding: 16px;
}
header{
    background: red;
}
h1{
    color: aqua;
}
footer{
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  background: green;
  padding-left: 30px;
  font-size: 125%;
}
img{
    height: 200px;
}
nav{
    color: black;
    border-bottom: 1px;
    padding: 16px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tr:nth-child(2n+2){
    background-color: rgb(233, 220, 220);
}
